Flask>=2.0.0
Flask-Bcrypt>=4.0.0
Flask-Login>=0.6.0
Flask-Mail>=0.9.1
flask-marshmallow>=0.15.0
Flask-SQLAlchemy>=3.0.0
Flask-WTF>=1.1.0
Pillow>=10.0.0
SQLAlchemy>=2.0.0
marshmallow>=3.19.0
python-dotenv>=1.0.0
email-validator>=2.0.0
